packages/node_modules/@node-red/nodes/examples/storage/write file/03 - Delete a file.json
[
    {
        "id": "4ac00fb0.d5f52",
        "type": "inject",
        "z": "6312c0588348b2d4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "542cc2f4.92857c"
            ]
        ]
    },
    {
        "id": "671f8295.0e6f6c",
        "type": "comment",
        "z": "6312c0588348b2d4",
        "name": "Delete a file",
        "info": "Write file node can delete a file.",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "542cc2f4.92857c",
        "type": "file",
        "z": "6312c0588348b2d4",
        "name": "",
        "filename": "/tmp/hello.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "a24da523.5babe8"
            ]
        ]
    },
    {
        "id": "a24da523.5babe8",
        "type": "debug",
        "z": "6312c0588348b2d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "51157051.2f62",
        "type": "comment",
        "z": "6312c0588348b2d4",
        "name": "↓delete a file",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    }
]