packages/node_modules/@node-red/nodes/examples/parser/html/04 - Join extracedt  sequence of HTML element using join node.json
[
    {
        "id": "66cff4ee.f2761c",
        "type": "inject",
        "z": "4b63452d.672afc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "2baaf6bf.0a02ca"
            ]
        ]
    },
    {
        "id": "2baaf6bf.0a02ca",
        "type": "template",
        "z": "4b63452d.672afc",
        "name": "HTML text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "<html>\n    <head>\n        <title>List of Fruits</title>\n    </head>\n    <body>\n        <ul>\n            <li class=\"Item\">Apple</li>\n            <li class=\"Item\">Orange</li>\n            <li class=\"Item\">Banana</li>\n        </ul>\n    </body>\n</html>\n",
        "output": "str",
        "x": 390,
        "y": 760,
        "wires": [
            [
                "bbb22e6b.0fa25"
            ]
        ]
    },
    {
        "id": "a57d35d0.8aa538",
        "type": "comment",
        "z": "4b63452d.672afc",
        "name": "Join extracted  sequence of HTML element using join node",
        "info": "Message sequence extracted by HTML node can be combined using join node.",
        "x": 310,
        "y": 700,
        "wires": []
    },
    {
        "id": "bbb22e6b.0fa25",
        "type": "html",
        "z": "4b63452d.672afc",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": ".Item",
        "ret": "html",
        "as": "multi",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "bd01ca4.966ad38"
            ]
        ]
    },
    {
        "id": "4d2616a8.84de88",
        "type": "debug",
        "z": "4b63452d.672afc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 760,
        "wires": []
    },
    {
        "id": "bd01ca4.966ad38",
        "type": "join",
        "z": "4b63452d.672afc",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 690,
        "y": 760,
        "wires": [
            [
                "4d2616a8.84de88"
            ]
        ]
    }
]