packages/node_modules/@node-red/nodes/examples/common/link/2 link across tabs.json
[{"id":"f51b8a1a.95b448","type":"tab","label":"TAB: 1st","disabled":false,"info":""},{"id":"ec5fae59.42a3b","type":"tab","label":"TAB: 2nd","disabled":false,"info":""},{"id":"fcd2b35a.6a7c4","type":"link out","z":"f51b8a1a.95b448","name":"","links":["f5fead9.12cdf5","cc961da1.25402"],"x":335,"y":200,"wires":[]},{"id":"41a35965.1b4ed8","type":"inject","z":"f51b8a1a.95b448","name":"","topic":"","payload":"Hello, World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":200,"wires":[["fcd2b35a.6a7c4"]]},{"id":"5b4e5338.81ce5c","type":"comment","z":"f51b8a1a.95b448","name":"Example: Link Node across tabs","info":"Output of link out node can be connected to input of link in node.  The connection between links in/out is not shown, so the flow representation can be simplified.","x":190,"y":60,"wires":[]},{"id":"6cc2116d.b2d41","type":"comment","z":"f51b8a1a.95b448","name":"Link output of inject node to input of debug node in 2nd tab","info":"","x":320,"y":120,"wires":[]},{"id":"bdc2bf14.e00a6","type":"comment","z":"f51b8a1a.95b448","name":"↓ connect to link in node in 2nd tab","info":"","x":460,"y":160,"wires":[]},{"id":"cc961da1.25402","type":"link in","z":"ec5fae59.42a3b","name":"","links":["fcd2b35a.6a7c4"],"x":155,"y":180,"wires":[["ce8b8ea5.364cb"]]},{"id":"ce8b8ea5.364cb","type":"debug","z":"ec5fae59.42a3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":180,"wires":[]},{"id":"64752acd.6cfcb4","type":"comment","z":"ec5fae59.42a3b","name":"↑ connect from link out node in 1st tab","info":"","x":290,"y":220,"wires":[]},{"id":"299b832b.6db7dc","type":"comment","z":"ec5fae59.42a3b","name":"Example: Link Node across tabs","info":"Output of link out node can be connected to input of link in node.  The connection between links in/out is not shown, so the flow representation can be simplified.","x":190,"y":60,"wires":[]},{"id":"aa11903.1daf77","type":"comment","z":"ec5fae59.42a3b","name":"Link output of inject node in 1st tab to input of debug node","info":"","x":310,"y":120,"wires":[]}]