packages/node_modules/@node-red/nodes/examples/parser/csv/05 - Convert JavaScript object to CSV.json
[
    {
        "id": "9e93169c.b763a8",
        "type": "comment",
        "z": "4b63452d.672afc",
        "name": "Convert JavaScript object to CSV",
        "info": "CSV node can convert a JavaScript object to CSV text.\nEach object contains key-value pair of specified properties.\n",
        "x": 270,
        "y": 860,
        "wires": []
    },
    {
        "id": "8ca41fee.3303d",
        "type": "inject",
        "z": "4b63452d.672afc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 920,
        "wires": [
            [
                "c466905b.e8c61"
            ]
        ]
    },
    {
        "id": "65146d20.d78204",
        "type": "csv",
        "z": "4b63452d.672afc",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "kind,price",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 600,
        "y": 920,
        "wires": [
            [
                "92e99e67.a37d8"
            ]
        ]
    },
    {
        "id": "c466905b.e8c61",
        "type": "template",
        "z": "4b63452d.672afc",
        "name": "JS object",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"kind\": \"Apple\",\n    \"price\": 100,\n    \"origin\": \"Canada\"\n}",
        "output": "json",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "65146d20.d78204"
            ]
        ]
    },
    {
        "id": "92e99e67.a37d8",
        "type": "debug",
        "z": "4b63452d.672afc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 920,
        "wires": []
    }
]