packages/node_modules/@node-red/nodes/examples/parser/toml/01 - Convert JavsScript object to TOML.json
[
    {
        "id": "b7720ded6dfc69be",
        "type": "inject",
        "z": "4905e5e801ef0b76",
        "name": "Object",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"key\":\"value\",\"int4\":5349221,\"flt1\":3.1415,\"bool1\":true,\"date1\":\"1979-05-27T07:32:00.000Z\",\"array1\":[1,2,3],\"table-1\":{\"key1\":\"some string\",\"key2\":123,\"point\":{\"x\":1,\"y\":2}},\"products\":[{\"name\":\"array of table\",\"sku\":738594937,\"emptyTableAreAllowed\":true}]}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "44ab3c1d9ae224de"
            ]
        ]
    },
    {
        "id": "44ab3c1d9ae224de",
        "type": "toml",
        "z": "4905e5e801ef0b76",
        "property": "payload",
        "name": "",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "ac21c9a16488100c"
            ]
        ]
    },
    {
        "id": "ac21c9a16488100c",
        "type": "debug",
        "z": "4905e5e801ef0b76",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    }
]