packages/node_modules/@node-red/nodes/examples/parser/toml/02 - Convert TOML to JavaScript object.json
[
    {
        "id": "0c1e435754de3d56",
        "type": "toml",
        "z": "4905e5e801ef0b76",
        "property": "payload",
        "name": "",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "d08c29e9701d0675"
            ]
        ]
    },
    {
        "id": "d08c29e9701d0675",
        "type": "debug",
        "z": "4905e5e801ef0b76",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 320,
        "wires": []
    },
    {
        "id": "b1f34564e7a4a5c8",
        "type": "inject",
        "z": "4905e5e801ef0b76",
        "name": "TOML String",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "e8053d79d5b87f0f"
            ]
        ]
    },
    {
        "id": "e8053d79d5b87f0f",
        "type": "template",
        "z": "4905e5e801ef0b76",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "toml",
        "syntax": "mustache",
        "template": "key = \"value\"\nint4 = 5_349_221\nflt1 = 3.1415\nbool1 = true\ndate1 = 1979-05-27T07:32:00Z\narray1 = [ 1, 2, 3 ]\n\n[table-1]\nkey1 = \"some string\"\nkey2 = 123\n\n# Inline Table\npoint = { x = 1, y = 2 }\n\n# Array\n[[products]]\nname = \"array of table\"\nsku = 738594937\nemptyTableAreAllowed = true\n",
        "output": "str",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "0c1e435754de3d56"
            ]
        ]
    }
]