packages/node_modules/@node-red/nodes/examples/sequence/batch/01 - Number-based group mode.json
[{"id":"74853568.22b87c","type":"batch","z":"703dac02.e61e64","name":"","mode":"count","count":"5","overlap":0,"interval":"5","allowEmptySequence":false,"topics":[],"x":410,"y":260,"wires":[["8f4f683.99d1998"]]},{"id":"3d208473.f31e1c","type":"comment","z":"703dac02.e61e64","name":"Group 5 consecutive messages","info":"","x":210,"y":88,"wires":[]},{"id":"8f4f683.99d1998","type":"join","z":"703dac02.e61e64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":550,"y":260,"wires":[["6c47ccb3.bb0184"]]},{"id":"6c47ccb3.bb0184","type":"debug","z":"703dac02.e61e64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"49c2ac1.59a9354","type":"comment","z":"703dac02.e61e64","name":"↑ create message sequence with 5 messages","info":"","x":530,"y":300,"wires":[]},{"id":"311dd6b4.5aeb7a","type":"comment","z":"703dac02.e61e64","name":"↓ join sequence to array","info":"","x":600,"y":220,"wires":[]},{"id":"e27c55b0.18e9c8","type":"inject","z":"703dac02.e61e64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["9e65f29a.69ca2"]]},{"id":"9e65f29a.69ca2","type":"function","z":"703dac02.e61e64","name":"send: 0-29","func":"for(var x = 0; x < 30; x++) {\n    node.send({payload: x});\n}","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["74853568.22b87c"]]},{"id":"817acbfb.452af8","type":"comment","z":"703dac02.e61e64","name":"↓ send sequence: 0-29","info":"","x":380,"y":140,"wires":[]},{"id":"53645699.a35c48","type":"batch","z":"703dac02.e61e64","name":"","mode":"count","count":"5","overlap":"1","interval":"5","allowEmptySequence":false,"topics":[],"x":410,"y":528,"wires":[["4cb873e6.f9996c"]]},{"id":"ecff527d.d64cb","type":"comment","z":"703dac02.e61e64","name":"Group 5 consecutive messages with overlap of 1 msg","info":"","x":280,"y":356,"wires":[]},{"id":"4cb873e6.f9996c","type":"join","z":"703dac02.e61e64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":550,"y":528,"wires":[["51089be3.4ecbf4"]]},{"id":"51089be3.4ecbf4","type":"debug","z":"703dac02.e61e64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":528,"wires":[]},{"id":"84c34533.6284a8","type":"comment","z":"703dac02.e61e64","name":"↑ create message sequence with 5 messages with overlap of 1 msg","info":"","x":600,"y":568,"wires":[]},{"id":"c7241026.18245","type":"comment","z":"703dac02.e61e64","name":"↓ join sequence to array","info":"","x":600,"y":488,"wires":[]},{"id":"67d24449.028eec","type":"inject","z":"703dac02.e61e64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":448,"wires":[["5d909bfb.6faf44"]]},{"id":"5d909bfb.6faf44","type":"function","z":"703dac02.e61e64","name":"send: 0-29","func":"for(var x = 0; x < 30; x++) {\n    node.send({payload: x});\n}","outputs":1,"noerr":0,"x":350,"y":448,"wires":[["53645699.a35c48"]]},{"id":"e7af9fbb.f30ad","type":"comment","z":"703dac02.e61e64","name":"↓ send sequence: 0-29","info":"","x":380,"y":408,"wires":[]},{"id":"f4a38f7b.8d62f","type":"comment","z":"703dac02.e61e64","name":"Example: Number-based Group Mode","info":"*Number-based Group mode* of batch node can be used to create new message sequences from incoming messages. Recently received *N*-messages are grouped to a sequence. Creating message sequences that has overwrap with adjacent message group is possible.\n","x":190,"y":40,"wires":[]}]