packages/node_modules/@node-red/nodes/examples/common/status/1 catch status message output.json
[{"id":"cf27351f.392d88","type":"inject","z":"17d58bdd.2ab8c4","name":"","topic":"","payload":"Hello, World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":160,"wires":[["75eaadfb.bed014"]]},{"id":"cd1ac74a.a149a8","type":"debug","z":"17d58bdd.2ab8c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":220,"wires":[]},{"id":"fc2e6dfc.2b0e9","type":"comment","z":"17d58bdd.2ab8c4","name":"Example: Status Node","info":"Status node can catch change of status message of specified nodes or all nodes in a flow.  It receives metadata of status message.","x":200,"y":60,"wires":[]},{"id":"d97b97d0.c4cfe8","type":"comment","z":"17d58bdd.2ab8c4","name":"Catch status message","info":"","x":240,"y":120,"wires":[]},{"id":"a1914d09.e7ba2","type":"comment","z":"17d58bdd.2ab8c4","name":"Catch status message of 1st debug node","info":"","x":540,"y":260,"wires":[]},{"id":"75fefe32.3e47d","type":"status","z":"17d58bdd.2ab8c4","name":"","scope":["cf27351f.392d88","75eaadfb.bed014"],"x":440,"y":220,"wires":[["cd1ac74a.a149a8"]]},{"id":"75eaadfb.bed014","type":"debug","z":"17d58bdd.2ab8c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":450,"y":160,"wires":[]}]