packages/node_modules/@node-red/nodes/examples/common/inject/01 - Trigger a flow at startup.json
[{"id":"eca30de2.7f1b1","type":"comment","z":"6e4ff5ca.fbc3ec","name":"Trigger a flow whenever Node-RED starts","info":"Inject node can be used to trigger a flow whenever Node-RED starts.\n\n*This could be used to initialise context variables, or to send a notification that Node-RED has been restarted.*\n\nSee Node-RED cookbook [item](https://cookbook.nodered.org/basic/trigger-on-start).","x":220,"y":60,"wires":[]},{"id":"8189f250.ddfb2","type":"inject","z":"6e4ff5ca.fbc3ec","name":"","topic":"","payload":"Started!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":200,"y":120,"wires":[["9a0150e8.6d0b3"]]},{"id":"9a0150e8.6d0b3","type":"debug","z":"6e4ff5ca.fbc3ec","name":"","active":true,"console":"false","complete":"false","x":470,"y":120,"wires":[]}]