packages/node_modules/@node-red/nodes/examples/common/inject/2 trigger a flow at regular intervals.json
[{"id":"64c1d7b3.a65b38","type":"comment","z":"bfaec8ca.105278","name":"Trigger a flow at regular intervals","info":"Inject node can be used to trigger a flow at regular intervals. \n\nSee Node-RED cookbook [item](https://cookbook.nodered.org/basic/trigger-at-interval).","x":190,"y":60,"wires":[]},{"id":"7c820e88.2db33","type":"inject","z":"bfaec8ca.105278","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":190,"y":120,"wires":[["8f135212.6a9a9"]]},{"id":"8f135212.6a9a9","type":"debug","z":"bfaec8ca.105278","name":"","active":true,"console":"false","complete":"false","x":450,"y":120,"wires":[]}]