packages/node_modules/@node-red/nodes/examples/common/inject/3 trigger a flow at a specific time.json
[{"id":"a4060d5d.a3c92","type":"comment","z":"568c3a2a.5efbf4","name":"Trigger a flow at a specific time","info":"Inject node can be used to trigger a flow at a specific time. \n\nSee Node-RED cookbook [item](https://cookbook.nodered.org/basic/trigger-at-time).","x":190,"y":60,"wires":[]},{"id":"468db06c.bafdd","type":"inject","z":"568c3a2a.5efbf4","name":"","topic":"","payload":"It is 4pm on a weekday!","payloadType":"str","repeat":"","crontab":"00 16 * * 1,2,3,4,5","once":false,"x":250,"y":120,"wires":[["1ccc3174.cb926f"]]},{"id":"1ccc3174.cb926f","type":"debug","z":"568c3a2a.5efbf4","name":"","active":true,"console":"false","complete":"false","x":470,"y":120,"wires":[]}]