examples/JetVision.json
[
    {
        "id": "ed43dd13100d96f6",
        "type": "tab",
        "label": "Jet Vision Demo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "556a2ee14c38d271",
        "type": "seller",
        "z": "ed43dd13100d96f6",
        "name": "Jetvision Seller",
        "deviceRole": "test",
        "deviceName": "test",
        "smartContract": "jetvision",
        "serialNumber": "test",
        "deviceType": "test",
        "price": "1",
        "description": "",
        "buyerEvmAddress": "[\"0x8a52eb9A5b58D69e699F022BFB65CC498De8Cef8\",\"0xFFBC04c867D311bdA2e67d91fe1A37C0A39B1150\"]",
        "buyerDevices": [],
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "c9248e358c7033b7",
        "type": "buyer",
        "z": "ed43dd13100d96f6",
        "name": "Jetvision Buyer",
        "sellerEvmAddress": "[\"0x0882aAF4e48018FF15Ec70bc54Cb8aa85763b978\"]",
        "sellerDevices": [],
        "smartContract": "jetvision",
        "deviceType": "cloud",
        "description": "",
        "x": 220,
        "y": 480,
        "wires": []
    },
    {
        "id": "63cbfabea001c026",
        "type": "udp in",
        "z": "ed43dd13100d96f6",
        "name": "UDP IN (JETVISION IN)",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "bc9393bb176dfd7f"
            ]
        ]
    },
    {
        "id": "a1b2c3d4.56789",
        "type": "inject",
        "z": "ed43dd13100d96f6",
        "name": "Trigger Stream",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "b2c3d4e5.67890"
            ]
        ]
    },
    {
        "id": "b2c3d4e5.67890",
        "type": "function",
        "z": "ed43dd13100d96f6",
        "name": "Create Message Stream",
        "func": "// Sample data array\nconst flightData = [\n    {\"uti\":1729178284,\"ns\":284211687,\"hex\":\"43C563\",\"fli\":\"AXIS41\",\"src\":\"?\",\"ava\":\"\",\"lat\":null,\"lon\":null,\"alt\":18025,\"gda\":\"A\",\"spd\":null,\"trk\":null,\"vrt\":null,\"tmp\":null,\"wsp\":null,\"wdi\":null,\"cat\":\"A6\",\"org\":null,\"dst\":null,\"opr\":\"HAWK\",\"typ\":\"HAWK\",\"reg\":\"ZK032\",\"dis\":null,\"dbm\":-71,\"cou\":\"U.K.\",\"squ\":\"6440\",\"tru\":820,\"lla\":null,\"alr\":0,\"spi\":false,\"timeRecorded\":1729178284613},\n    {\"uti\":1729178284,\"ns\":296999671,\"hex\":\"4079F4\",\"fli\":\"GLDGF\",\"src\":\"A\",\"ava\":\"A\",\"lat\":51.52923,\"lon\":-2.36961,\"alt\":2625,\"gda\":\"A\",\"spd\":134,\"trk\":223,\"vrt\":-128,\"tmp\":null,\"wsp\":null,\"wdi\":null,\"cat\":\"A1\",\"org\":null,\"dst\":null,\"opr\":\"LDG\",\"typ\":\"DA42\",\"reg\":\"G-LDGF\",\"dis\":42.7,\"dbm\":-74,\"cou\":\"U.K.\",\"squ\":\"3737\",\"tru\":476,\"lla\":1,\"mop\":2,\"alr\":0,\"spi\":false,\"tcm\":0,\"ape\":false,\"pic\":11,\"nacp\":10,\"sil\":3,\"sda\":2,\"altg\":2825,\"qnhs\":1010.4,\"alts\":2496,\"timeRecorded\":1729178284613},\n    {\"uti\":1729178284,\"ns\":313035437,\"hex\":\"40792E\",\"fli\":\"SHT7P\",\"src\":\"A\",\"ava\":\"A\",\"lat\":54.47077,\"lon\":-3.16548,\"alt\":36925,\"gda\":\"A\",\"spd\":436,\"trk\":154,\"vrt\":640,\"tmp\":-51,\"wsp\":49,\"wdi\":223,\"cat\":\"A3\",\"org\":\"EGPF\",\"dst\":\"EGLL\",\"opr\":\"BAW\",\"typ\":\"A20N\",\"reg\":\"G-TTNK\",\"dis\":289.9,\"dbm\":-81,\"cou\":\"U.K.\",\"squ\":\"1165\",\"tru\":177,\"lla\":4,\"mop\":2,\"alr\":0,\"spi\":false,\"tcm\":1,\"ape\":false,\"pic\":11,\"nacp\":9,\"sil\":3,\"sda\":3,\"altg\":37050,\"qnhs\":1012.8,\"alts\":36992,\"hdgs\":159,\"timeRecorded\":1729178284613},\n    {\"uti\":1729178283,\"ns\":517067031,\"hex\":\"AB84AB\",\"fli\":\"DAL37\",\"src\":\"A\",\"ava\":\"A\",\"lat\":52.18414,\"lon\":-0.79842,\"alt\":14025,\"gda\":\"A\",\"spd\":436,\"trk\":328,\"vrt\":2112,\"tmp\":-5,\"wsp\":25,\"wdi\":197,\"cat\":\"A5\",\"org\":\"EGLL\",\"dst\":\"KPDX\",\"opr\":null,\"typ\":null,\"reg\":\"N841MH\",\"dis\":107.9,\"dbm\":-79,\"cou\":\"USA \",\"squ\":\"7662\",\"tru\":134,\"lla\":4,\"mop\":2,\"alr\":0,\"spi\":false,\"tcm\":1,\"ape\":false,\"pic\":11,\"nacp\":11,\"sil\":3,\"sda\":2,\"altg\":14100,\"qnhs\":1013.6,\"alts\":16000,\"hdgs\":325,\"timeRecorded\":1729178284613}\n];\n\n// Configure stream behavior\nconst config = {\n    messagesPerSecond: 2,  // Adjust speed\n    loop: true,           // Continuous stream\n    randomOrder: false    // Send in file order\n};\n\n// Initialize counter\nif (!context.counter) {\n    context.counter = 0;\n    context.lastSend = 0;\n}\n\n// Get next message\nlet msgIndex;\nif (config.randomOrder) {\n    msgIndex = Math.floor(Math.random() * flightData.length);\n} else {\n    msgIndex = context.counter % flightData.length;\n    context.counter++;\n}\n\n// Prepare message\nconst message = flightData[msgIndex];\n\n// Set up next trigger if looping\nif (config.loop) {\n    const now = Date.now();\n    const delay = 1000 / config.messagesPerSecond;\n    \n    if (now - context.lastSend >= delay) {\n        context.lastSend = now;\n        return { payload: JSON.stringify(message) };\n    } else {\n        node.send(null); // Skip this cycle\n        return null;\n    }\n}\n\nreturn { payload: JSON.stringify(message) };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "c3d4e5f6.78901"
            ]
        ]
    },
    {
        "id": "c3d4e5f6.78901",
        "type": "delay",
        "z": "ed43dd13100d96f6",
        "name": "Throttle Stream",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "100",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 180,
        "wires": [
            [
                "d4e5f6g7.89012"
            ]
        ]
    },
    {
        "id": "d4e5f6g7.89012",
        "type": "udp out",
        "z": "ed43dd13100d96f6",
        "name": "UDP Output",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "bc9393bb176dfd7f",
        "type": "neuron-p2p",
        "z": "ed43dd13100d96f6",
        "name": "Jetvision Seller P2P",
        "selectedNode": "556a2ee14c38d271",
        "description": "",
        "x": 520,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dc99cd7820931ab1",
        "type": "neuron-p2p",
        "z": "ed43dd13100d96f6",
        "name": "Buyer P2P",
        "selectedNode": "c9248e358c7033b7",
        "description": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "aa6841f5cb76722a"
            ]
        ]
    },
    {
        "id": "aa6841f5cb76722a",
        "type": "debug",
        "z": "ed43dd13100d96f6",
        "name": "JV Buyer ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "1e95790f6680f2ed",
        "type": "comment",
        "z": "ed43dd13100d96f6",
        "d": true,
        "name": "Open P2P node configuration and update related Buyer/Seller Node",
        "info": "Open P2P node configuration and update related Buyer/Seller Node",
        "x": 500,
        "y": 40,
        "wires": []
    }
]