packages/node_modules/@node-red/nodes/examples/network/tcp/02 - Connect to TCP in server.json
[
    {
        "id": "511f8208.c4c20c",
        "type": "tcp in",
        "z": "cfd9159c.6f73e8",
        "name": "",
        "server": "server",
        "host": "localhost",
        "port": "1882",
        "datamode": "single",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "6b8be121.32be9"
            ]
        ]
    },
    {
        "id": "ec0bc4aa.b3c828",
        "type": "tcp out",
        "z": "cfd9159c.6f73e8",
        "host": "localhost",
        "port": "1882",
        "beserver": "client",
        "base64": false,
        "end": true,
        "name": "",
        "x": 390,
        "y": 400,
        "wires": []
    },
    {
        "id": "17cf7d56.9efb03",
        "type": "inject",
        "z": "cfd9159c.6f73e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ec0bc4aa.b3c828"
            ]
        ]
    },
    {
        "id": "6b8be121.32be9",
        "type": "debug",
        "z": "cfd9159c.6f73e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "76196665.7c23e8",
        "type": "comment",
        "z": "cfd9159c.6f73e8",
        "name": "Connect to TCP in server",
        "info": "`TCP out` node can connect to network server using tcp protocol.  `TCP in` node can serve a network server using tcp procol.\n",
        "x": 190,
        "y": 340,
        "wires": []
    }
]