packages/node_modules/@node-red/nodes/examples/storage/file-in/02 - Read data in specified encoding.json
[
    {
        "id": "8997398f.c5d628",
        "type": "inject",
        "z": "194a3e4f.a92772",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "😀",
        "payloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "56e32d23.050f44"
            ]
        ]
    },
    {
        "id": "4e598e65.1799d",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "Read data in specified encoding",
        "info": "File-in node can specify encoding of data read from a file.",
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "56e32d23.050f44",
        "type": "file",
        "z": "194a3e4f.a92772",
        "name": "",
        "filename": "/tmp/hello.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "38fa0579.f2cd8a"
            ]
        ]
    },
    {
        "id": "d28c8994.99c0a8",
        "type": "debug",
        "z": "194a3e4f.a92772",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "38fa0579.f2cd8a",
        "type": "file in",
        "z": "194a3e4f.a92772",
        "name": "",
        "filename": "/tmp/hello.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "base64",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "d28c8994.99c0a8"
            ]
        ]
    },
    {
        "id": "fa22ca20.ae4528",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "↑read data from file as base64 string",
        "info": "",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "148e25ad.98891a",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "↓write to /tmp/hello.txt",
        "info": "",
        "x": 400,
        "y": 440,
        "wires": []
    }
]