packages/node_modules/@node-red/nodes/examples/storage/file-in/03 - Read data breaking lines into messages.json
[
    {
        "id": "6a0b1d03.d4cee4",
        "type": "inject",
        "z": "194a3e4f.a92772",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "d4b00cb7.a5a23"
            ]
        ]
    },
    {
        "id": "f17ea1d1.8ecc3",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "Read data breaking lines into individual messages",
        "info": "File-in node can break read text into messages with individual lines",
        "x": 290,
        "y": 660,
        "wires": []
    },
    {
        "id": "99ae7806.1d6428",
        "type": "file",
        "z": "194a3e4f.a92772",
        "name": "",
        "filename": "/tmp/hello.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 540,
        "y": 740,
        "wires": [
            [
                "70d7892f.d27db8"
            ]
        ]
    },
    {
        "id": "7ed8282c.92b338",
        "type": "debug",
        "z": "194a3e4f.a92772",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "70d7892f.d27db8",
        "type": "file in",
        "z": "194a3e4f.a92772",
        "name": "",
        "filename": "/tmp/hello.txt",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 620,
        "y": 800,
        "wires": [
            [
                "7ed8282c.92b338"
            ]
        ]
    },
    {
        "id": "c1b7e05.1d94b2",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "↑read data from file breaking lines into messages",
        "info": "",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "a5f647b2.cf27a8",
        "type": "comment",
        "z": "194a3e4f.a92772",
        "name": "↓write to /tmp/hello.txt",
        "info": "",
        "x": 560,
        "y": 700,
        "wires": []
    },
    {
        "id": "d4b00cb7.a5a23",
        "type": "template",
        "z": "194a3e4f.a92772",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "one\ntwo\nthree!",
        "output": "str",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "99ae7806.1d6428"
            ]
        ]
    }
]