neuron/userdir/example.flows.json
[
    {
        "id": "2aa40cf028783520",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f1721b6e53fb3565",
        "type": "subflow",
        "name": "Jetvision buyer",
        "info": "",
        "category": "Templates",
        "in": [],
        "out": [
            {
                "x": 800,
                "y": 200,
                "wires": [
                    {
                        "id": "4b2277d966231fb3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "font-awesome/fa-shopping-basket",
        "status": {
            "x": 460,
            "y": 360,
            "wires": [
                {
                    "id": "79e9bd568437c72d",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "93d173187408e9ab",
        "type": "subflow",
        "name": "Jetvision seller",
        "info": "",
        "category": "Templates",
        "in": [
            {
                "x": 300,
                "y": 220,
                "wires": [
                    {
                        "id": "d7a8ade0ca24b068"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "icon": "node-red/white-globe.svg",
        "status": {
            "x": 500,
            "y": 380,
            "wires": [
                {
                    "id": "d9a1fdbec6b9a986",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "6d24cdbbe67e56dd",
        "type": "subflow",
        "name": "P2P chat - seller",
        "info": "",
        "category": "Templates",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#C0DEED",
        "status": {
            "x": 500,
            "y": 360,
            "wires": [
                {
                    "id": "c5bd60d22cdf756d",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "beac2fbf1433c17e",
        "type": "subflow",
        "name": "P2P chat - buyer",
        "info": "",
        "category": "Templates",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#A6BBCF",
        "status": {
            "x": 440,
            "y": 340,
            "wires": [
                {
                    "id": "0cb2dabe9c495b7b",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "43ea3a9cef7f224d",
        "type": "subflow",
        "name": "AI agent",
        "info": "",
        "category": "Templates",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "9346cf52f7e8ca71"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 120,
                "wires": [
                    {
                        "id": "61834b1e11ec8e85",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 340,
            "y": 380,
            "wires": [
                {
                    "id": "54c6d308b7fccab4",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "ef656de5cefe0a4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb3ea4e3e0a95b90",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d6928ace43c87da0",
        "type": "ui_group",
        "name": "Buyer",
        "tab": "ef656de5cefe0a4d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "84e6cabba255cc18",
        "type": "ui_group",
        "name": "Seller",
        "tab": "ef656de5cefe0a4d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b2277d966231fb3",
        "type": "neuron-p2p",
        "z": "f1721b6e53fb3565",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 520,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d939024dc0d3f170",
        "type": "comment",
        "z": "f1721b6e53fb3565",
        "name": "Show node status - e.g \"ready\"",
        "info": "",
        "x": 270,
        "y": 400,
        "wires": []
    },
    {
        "id": "d1358e72f3c1c08b",
        "type": "comment",
        "z": "f1721b6e53fb3565",
        "name": "Get Jetvision data from selected sellers",
        "info": "",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "32de0bfdbb4e89bd",
        "type": "comment",
        "z": "f1721b6e53fb3565",
        "name": "1. Double click to select sellers you wish to connect to and receive data",
        "info": "",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3e681f829d67cd4",
        "type": "comment",
        "z": "f1721b6e53fb3565",
        "name": "2. Double click to associate Jetvision buyer config",
        "info": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "8e0d9cfec1b89663",
        "type": "buyer config",
        "z": "f1721b6e53fb3565",
        "name": "Jetvision buyer config",
        "sellerEvmAddress": "[\"0x8a52eb9A5b58D69e699F022BFB65CC498De8Cef8\"]",
        "sellerDevices": [],
        "smartContract": "jetvision",
        "deviceType": "",
        "description": "",
        "evmAddress": "Error loading EVM address",
        "balance": "Error loading balance",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "79e9bd568437c72d",
        "type": "status",
        "z": "f1721b6e53fb3565",
        "name": "",
        "scope": [
            "4b2277d966231fb3",
            "8e0d9cfec1b89663"
        ],
        "x": 260,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d7a8ade0ca24b068",
        "type": "neuron-p2p",
        "z": "93d173187408e9ab",
        "name": "",
        "selectedNode": "de9fcd7031a20d01",
        "description": "",
        "x": 560,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "859a156b7a61921d",
        "type": "comment",
        "z": "93d173187408e9ab",
        "name": "1. Double click to select sellers you wish to connect to and receive data",
        "info": "",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "503228108b5d76ad",
        "type": "seller config",
        "z": "93d173187408e9ab",
        "name": "Jetvision seller config",
        "deviceRole": "",
        "deviceName": "",
        "smartContract": "jetvision",
        "serialNumber": "",
        "deviceType": "",
        "price": "1",
        "description": "",
        "evmAddress": "Error loading EVM address",
        "balance": "Error loading balance",
        "buyerEvmAddress": "[\"0x8a52eb9A5b58D69e699F022BFB65CC498De8Cef8\"]",
        "buyerDevices": [],
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "ad4d208964b12e86",
        "type": "comment",
        "z": "93d173187408e9ab",
        "name": "2. Double click to associate Jetvision seller config",
        "info": "",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "d9a1fdbec6b9a986",
        "type": "status",
        "z": "93d173187408e9ab",
        "name": "",
        "scope": null,
        "x": 300,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ce173282224caa45",
        "type": "comment",
        "z": "93d173187408e9ab",
        "name": "Show node status - e.g \"ready\"",
        "info": "",
        "x": 310,
        "y": 420,
        "wires": []
    },
    {
        "id": "6cc809e4722f7864",
        "type": "comment",
        "z": "93d173187408e9ab",
        "name": "Send Jetvision data to selected buyers",
        "info": "",
        "x": 270,
        "y": 260,
        "wires": []
    },
    {
        "id": "336e341bd0a8da95",
        "type": "ui_template",
        "z": "6d24cdbbe67e56dd",
        "group": "84e6cabba255cc18",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-2 {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-2 {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 18px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeIn 0.3s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .user-message {\n    background-color: #007bff;\n    color: white;\n    margin-left: auto;\n    border-bottom-right-radius: 4px;\n  }\n\n  .other-message {\n    background-color: #e9ecef;\n    color: #212529;\n    margin-right: auto;\n    border-bottom-left-radius: 4px;\n  }\n\n  .timestamp {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-2 {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-2:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-2 {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-2:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-2:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n\n  .typing-indicator {\n    display: flex;\n    padding: 8px 16px;\n    justify-content: flex-start;\n    gap: 4px;\n  }\n\n  .typing-dot {\n    width: 8px;\n    height: 8px;\n    background-color: #6c757d;\n    border-radius: 50%;\n    animation: typingAnimation 1.4s infinite ease-in-out;\n  }\n\n  .typing-dot:nth-child(1) {\n    animation-delay: 0s;\n  }\n\n  .typing-dot:nth-child(2) {\n    animation-delay: 0.2s;\n  }\n\n  .typing-dot:nth-child(3) {\n    animation-delay: 0.4s;\n  }\n\n  @keyframes typingAnimation {\n\n    0%,\n    60%,\n    100% {\n      transform: translateY(0);\n    }\n\n    30% {\n      transform: translateY(-4px);\n    }\n  }\n</style>\n\n<div class=\"chat-container-2\">\n  <div id=\"message-panel-2\" class=\"message-panel-2\"></div>\n  <div id=\"typing-indicator-2\" class=\"typing-indicator\" style=\"display: none;\">\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n  </div>\n  <div class=\"input-area\">\n    <input type=\"text\" id=\"chat-input-2\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-2\" disabled>Send</button>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  const state = {\n    messageCount: 0,\n    isTyping: false,\n    pendingMessages: new Set()\n  };\n  \n  const messagePanel = document.getElementById('message-panel-2');\n  const chatInput = document.getElementById('chat-input-2');\n  const sendButton = document.getElementById('send-button-2');\n  const typingIndicator = document.getElementById('typing-indicator-2');\n  \n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n  \n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n  \n  function addMessage(text, sender, timestamp, messageId) {\n    const id = messageId || 'msg-' + state.messageCount++ + '-' + Date.now();\n    \n    if (state.pendingMessages.has(id)) return;\n    state.pendingMessages.add(id);\n    \n    const messageElement = document.createElement('div');\n    messageElement.className = `message ${sender}-message`;\n    messageElement.id = id;\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp\">${formatTimestamp(timestamp ? new Date(timestamp) : new Date())}</div>\n    `;\n    \n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n  \n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n  \n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    \n    const timestamp = new Date();\n    const messageId = 'user-msg-2-' + Date.now();\n    \n    // Add to UI immediately with unique ID\n    addMessage(messageText, 'user', timestamp, messageId);\n    \n    // Send to Node-RED with a different ID to prevent echo\n    if (typeof scope.send === 'function') {\n      scope.send({ \n        payload: { \n          text: messageText, \n          sender: 'user',\n          timestamp: timestamp.toISOString(),\n          messageId: 'net-' + messageId, // Different prefix for network messages\n          instance: 'chat-2',\n          source: 'local' // Mark as locally originated\n        } \n      });\n    }\n    \n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n  \n  // Event listeners\n  sendButton.addEventListener('click', sendMessage);\n  \n  chatInput.addEventListener('keypress', function(e) {\n    if (e.key === 'Enter') {\n      sendMessage();\n    }\n  });\n  \n  chatInput.addEventListener('input', updateSendButton);\n  \n  // Handle incoming messages\n  scope.$watch('msg', function(msg) {\n    if (!msg || !msg.payload) return;\n    \n    try {\n      // Skip locally originated messages that come back\n      if (msg.payload.source === 'local') return;\n      \n      // Handle typing indicator\n      if (msg.payload.typing !== undefined) {\n        typingIndicator.style.display = msg.payload.typing ? 'flex' : 'none';\n        scrollToBottom();\n        return;\n      }\n      \n      // Process message\n      let messageText, messageSender, timestamp, messageId;\n   \n      if (typeof msg.payload === 'string') {\n        const payload = JSON.parse(msg.payload);\n        messageText = payload.text;\n        messageSender = 'other';\n        timestamp = new Date();\n        messageId = 'other-msg-2-' + Date.now();\n      } \n      else if (typeof msg.payload === 'object') {\n        // Skip if this is a network echo of our own message\n        if (msg.payload.messageId && msg.payload.messageId.startsWith('net-user-msg-2-')) return;\n        \n        messageId = msg.payload.messageId || 'other-msg-2-' + Date.now();\n        messageText = msg.payload.text || '';\n        messageSender = msg.payload.sender === 'user' ? 'user' : 'other';\n        timestamp = msg.payload.timestamp || new Date();\n      }\n      \n      if (messageText && !state.pendingMessages.has(messageId)) {\n        addMessage(messageText, messageSender, timestamp, messageId);\n      }\n    } catch (error) {\n      console.error(\"Error processing message:\", error);\n    }\n  });\n  \n  // Focus input on load\n  chatInput.focus();\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "02a88d7d72646aab"
            ]
        ]
    },
    {
        "id": "02a88d7d72646aab",
        "type": "neuron-p2p",
        "z": "6d24cdbbe67e56dd",
        "name": "P2P seller ",
        "selectedNode": "",
        "description": "",
        "x": 620,
        "y": 220,
        "wires": [
            [
                "336e341bd0a8da95"
            ]
        ]
    },
    {
        "id": "52e257d4c2d39138",
        "type": "seller config",
        "z": "6d24cdbbe67e56dd",
        "name": "P2P chat seller config",
        "deviceRole": "",
        "deviceName": "",
        "smartContract": "chat",
        "serialNumber": "",
        "deviceType": "",
        "price": "1",
        "description": "",
        "evmAddress": "Error loading EVM address",
        "balance": "Error loading balance",
        "buyerEvmAddress": "[\"0x116cF58b6277CA0777F3Db12ac9fcBad80920745\"]",
        "buyerDevices": [],
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "beaf0b45ba364c68",
        "type": "comment",
        "z": "6d24cdbbe67e56dd",
        "name": "Builds UI - go to: http://localhost:1880/ui",
        "info": "",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "0c9e6ab6675cb3dc",
        "type": "comment",
        "z": "6d24cdbbe67e56dd",
        "name": "1. Double click to select sellers you wish to connect to and receive data",
        "info": "",
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "fc204f55d23712e5",
        "type": "comment",
        "z": "6d24cdbbe67e56dd",
        "name": "2. Double click to associate P2P chat seller config",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5bd60d22cdf756d",
        "type": "status",
        "z": "6d24cdbbe67e56dd",
        "name": "",
        "scope": [
            "52e257d4c2d39138",
            "02a88d7d72646aab"
        ],
        "x": 320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5fe3204512e6945b",
        "type": "comment",
        "z": "6d24cdbbe67e56dd",
        "name": "Show node status - e.g \"ready\"",
        "info": "",
        "x": 350,
        "y": 400,
        "wires": []
    },
    {
        "id": "60cea21c08412da5",
        "type": "ui_template",
        "z": "beac2fbf1433c17e",
        "group": "84e6cabba255cc18",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-2 {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-2 {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 18px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeIn 0.3s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .user-message {\n    background-color: #007bff;\n    color: white;\n    margin-left: auto;\n    border-bottom-right-radius: 4px;\n  }\n\n  .other-message {\n    background-color: #e9ecef;\n    color: #212529;\n    margin-right: auto;\n    border-bottom-left-radius: 4px;\n  }\n\n  .timestamp {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-2 {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-2:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-2 {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-2:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-2:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n\n  .typing-indicator {\n    display: flex;\n    padding: 8px 16px;\n    justify-content: flex-start;\n    gap: 4px;\n  }\n\n  .typing-dot {\n    width: 8px;\n    height: 8px;\n    background-color: #6c757d;\n    border-radius: 50%;\n    animation: typingAnimation 1.4s infinite ease-in-out;\n  }\n\n  .typing-dot:nth-child(1) {\n    animation-delay: 0s;\n  }\n\n  .typing-dot:nth-child(2) {\n    animation-delay: 0.2s;\n  }\n\n  .typing-dot:nth-child(3) {\n    animation-delay: 0.4s;\n  }\n\n  @keyframes typingAnimation {\n\n    0%,\n    60%,\n    100% {\n      transform: translateY(0);\n    }\n\n    30% {\n      transform: translateY(-4px);\n    }\n  }\n</style>\n\n<div class=\"chat-container-2\">\n  <div id=\"message-panel-2\" class=\"message-panel-2\"></div>\n  <div id=\"typing-indicator-2\" class=\"typing-indicator\" style=\"display: none;\">\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n  </div>\n  <div class=\"input-area\">\n    <input type=\"text\" id=\"chat-input-2\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-2\" disabled>Send</button>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  const state = {\n    messageCount: 0,\n    isTyping: false,\n    pendingMessages: new Set()\n  };\n  \n  const messagePanel = document.getElementById('message-panel-2');\n  const chatInput = document.getElementById('chat-input-2');\n  const sendButton = document.getElementById('send-button-2');\n  const typingIndicator = document.getElementById('typing-indicator-2');\n  \n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n  \n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n  \n  function addMessage(text, sender, timestamp, messageId) {\n    const id = messageId || 'msg-' + state.messageCount++ + '-' + Date.now();\n    \n    if (state.pendingMessages.has(id)) return;\n    state.pendingMessages.add(id);\n    \n    const messageElement = document.createElement('div');\n    messageElement.className = `message ${sender}-message`;\n    messageElement.id = id;\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp\">${formatTimestamp(timestamp ? new Date(timestamp) : new Date())}</div>\n    `;\n    \n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n  \n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n  \n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    \n    const timestamp = new Date();\n    const messageId = 'user-msg-2-' + Date.now();\n    \n    // Add to UI immediately with unique ID\n    addMessage(messageText, 'user', timestamp, messageId);\n    \n    // Send to Node-RED with a different ID to prevent echo\n    if (typeof scope.send === 'function') {\n      scope.send({ \n        payload: { \n          text: messageText, \n          sender: 'user',\n          timestamp: timestamp.toISOString(),\n          messageId: 'net-' + messageId, // Different prefix for network messages\n          instance: 'chat-2',\n          source: 'local' // Mark as locally originated\n        } \n      });\n    }\n    \n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n  \n  // Event listeners\n  sendButton.addEventListener('click', sendMessage);\n  \n  chatInput.addEventListener('keypress', function(e) {\n    if (e.key === 'Enter') {\n      sendMessage();\n    }\n  });\n  \n  chatInput.addEventListener('input', updateSendButton);\n  \n  // Handle incoming messages\n  scope.$watch('msg', function(msg) {\n    if (!msg || !msg.payload) return;\n    \n    try {\n      // Skip locally originated messages that come back\n      if (msg.payload.source === 'local') return;\n      \n      // Handle typing indicator\n      if (msg.payload.typing !== undefined) {\n        typingIndicator.style.display = msg.payload.typing ? 'flex' : 'none';\n        scrollToBottom();\n        return;\n      }\n      \n      // Process message\n      let messageText, messageSender, timestamp, messageId;\n   \n      if (typeof msg.payload === 'string') {\n        const payload = JSON.parse(msg.payload);\n        messageText = payload.text;\n        messageSender = 'other';\n        timestamp = new Date();\n        messageId = 'other-msg-2-' + Date.now();\n      } \n      else if (typeof msg.payload === 'object') {\n        // Skip if this is a network echo of our own message\n        if (msg.payload.messageId && msg.payload.messageId.startsWith('net-user-msg-2-')) return;\n        \n        messageId = msg.payload.messageId || 'other-msg-2-' + Date.now();\n        messageText = msg.payload.text || '';\n        messageSender = msg.payload.sender === 'user' ? 'user' : 'other';\n        timestamp = msg.payload.timestamp || new Date();\n      }\n      \n      if (messageText && !state.pendingMessages.has(messageId)) {\n        addMessage(messageText, messageSender, timestamp, messageId);\n      }\n    } catch (error) {\n      console.error(\"Error processing message:\", error);\n    }\n  });\n  \n  // Focus input on load\n  chatInput.focus();\n\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "8d9675202dabdfbd"
            ]
        ]
    },
    {
        "id": "8d9675202dabdfbd",
        "type": "neuron-p2p",
        "z": "beac2fbf1433c17e",
        "name": "P2P seller ",
        "selectedNode": "",
        "description": "",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "60cea21c08412da5"
            ]
        ]
    },
    {
        "id": "161955d2a655df86",
        "type": "buyer config",
        "z": "beac2fbf1433c17e",
        "name": "P2P chat buyer config",
        "sellerEvmAddress": [],
        "sellerDevices": [],
        "smartContract": "chat",
        "deviceType": "",
        "description": "",
        "evmAddress": "Error loading EVM address",
        "balance": "Error loading balance",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "a9db2d4a20f271ab",
        "type": "comment",
        "z": "beac2fbf1433c17e",
        "name": "1. Double click to select sellers you wish to connect to and receive data",
        "info": "",
        "x": 470,
        "y": 20,
        "wires": []
    },
    {
        "id": "f85d0b63f7c81f9b",
        "type": "comment",
        "z": "beac2fbf1433c17e",
        "name": "Builds UI - go to: http://localhost:1880/ui",
        "info": "",
        "x": 200,
        "y": 160,
        "wires": []
    },
    {
        "id": "609ebdd6a6874b52",
        "type": "comment",
        "z": "beac2fbf1433c17e",
        "name": "2. Double click to associate P2P chat buyer config",
        "info": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "0cb2dabe9c495b7b",
        "type": "status",
        "z": "beac2fbf1433c17e",
        "name": "",
        "scope": null,
        "x": 240,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "7487000b1af93031",
        "type": "comment",
        "z": "beac2fbf1433c17e",
        "name": "Show node status - e.g \"ready\"",
        "info": "",
        "x": 310,
        "y": 400,
        "wires": []
    },
    {
        "id": "54b4d22517896799",
        "type": "ai-memory-inmem",
        "z": "43ea3a9cef7f224d",
        "name": "Memory",
        "maxItems": "100",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "61834b1e11ec8e85"
            ]
        ]
    },
    {
        "id": "9346cf52f7e8ca71",
        "type": "ai-model",
        "z": "43ea3a9cef7f224d",
        "name": "",
        "model": "",
        "temperature": 0.7,
        "maxTokens": 1000,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "54b4d22517896799"
            ]
        ]
    },
    {
        "id": "61834b1e11ec8e85",
        "type": "ai-agent",
        "z": "43ea3a9cef7f224d",
        "name": "",
        "systemPrompt": "You are a helpful AI assistant.",
        "responseType": "text",
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4124f6ca86b75b26",
        "type": "comment",
        "z": "43ea3a9cef7f224d",
        "name": "Double click to add a API key - from  https://openrouter.ai/ ",
        "info": "",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "54c6d308b7fccab4",
        "type": "status",
        "z": "43ea3a9cef7f224d",
        "name": "",
        "scope": [
            "61834b1e11ec8e85"
        ],
        "x": 160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "15ddd807dfa1e031",
        "type": "comment",
        "z": "43ea3a9cef7f224d",
        "name": "Show node status - e.g \"ready\"",
        "info": "",
        "x": 210,
        "y": 440,
        "wires": []
    }
]