packages/node_modules/@node-red/nodes/examples/function/delay/06 handle message at a regular rate.json
[{"id":"501e03a2.a5090c","type":"inject","z":"64b9e559.10f05c","name":"Inject Array","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[0,1,2,3,4,5,6,7,8,9]","payloadType":"json","x":190,"y":120,"wires":[["4b728a28.713a04"]]},{"id":"4b728a28.713a04","type":"delay","z":"64b9e559.10f05c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":120,"wires":[["110b5815.bead08"]]},{"id":"110b5815.bead08","type":"debug","z":"64b9e559.10f05c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":120,"wires":[]},{"id":"b0983927.b46478","type":"comment","z":"64b9e559.10f05c","name":"Handle messages at a regular rate","info":"Delay node can be used to handle messages at a regular rate, ignoring messages that arrive too quickly.\n\nSee Node-RED cookbook [item](https://cookbook.nodered.org/basic/rate-limit-message-stream).","x":200,"y":60,"wires":[]}]