packages/node_modules/@node-red/nodes/examples/parser/yaml/02 - Convert YAML to JavaScript object.json
[
    {
        "id": "ba1dab90.8d1da8",
        "type": "inject",
        "z": "4b63452d.672afc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "16617f26.14ced1"
            ]
        ]
    },
    {
        "id": "a9f97b00.57d658",
        "type": "comment",
        "z": "4b63452d.672afc",
        "name": "Convert YAML to JavaScript object",
        "info": "YAML node can convert YAML string to JavaScript object.",
        "x": 240,
        "y": 300,
        "wires": []
    },
    {
        "id": "2d0dde7e.a50082",
        "type": "debug",
        "z": "4b63452d.672afc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "16617f26.14ced1",
        "type": "template",
        "z": "4b63452d.672afc",
        "name": "YAML string",
        "field": "payload",
        "fieldType": "msg",
        "format": "yaml",
        "syntax": "plain",
        "template": "fruits:\n    kind: Apple\n    price: 100\n    origin: Canada",
        "output": "str",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e2e4f862.f9d7d8"
            ]
        ]
    },
    {
        "id": "e2e4f862.f9d7d8",
        "type": "yaml",
        "z": "4b63452d.672afc",
        "property": "payload",
        "name": "",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "2d0dde7e.a50082"
            ]
        ]
    }
]