packages/node_modules/@node-red/nodes/examples/sequence/sort/01 - Sort array payload.json
[{"id":"6451c8bb.b52278","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":510,"y":160,"wires":[["cb34307c.ac1dd"]]},{"id":"638546c.38f1fb8","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":160,"wires":[["db5d90ac.bbb3f"]]},{"id":"3ec02cae.012ce4","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array payload as string in ascending order","info":"","x":280,"y":100,"wires":[]},{"id":"db5d90ac.bbb3f","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    \"orange\",\n    \"banana\",\n    \"apple\",\n    \"pear\",\n    \"kiwi\"\n]","output":"json","x":370,"y":160,"wires":[["6451c8bb.b52278"]]},{"id":"cb34307c.ac1dd","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"a0de8ca4.6601f","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":510,"y":480,"wires":[["ca74a53e.90fc08"]]},{"id":"23d253dc.5e990c","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":480,"wires":[["4ccd5aed.ca24e4"]]},{"id":"19946d36.185313","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array payload as string","info":"","x":220,"y":420,"wires":[]},{"id":"4ccd5aed.ca24e4","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    \"1024\",\n    \"86\",\n    \"256\",\n    \"100\",\n    \"9\"\n]","output":"json","x":370,"y":480,"wires":[["a0de8ca4.6601f"]]},{"id":"ca74a53e.90fc08","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"d4b49c22.32685","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"ascending","as_num":true,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":510,"y":640,"wires":[["45738f07.16416"]]},{"id":"87ce9955.924868","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":640,"wires":[["30b81283.f0772e"]]},{"id":"f6e624df.703a88","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array payload as number","info":"","x":220,"y":580,"wires":[]},{"id":"30b81283.f0772e","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    \"1024\",\n    \"86\",\n    \"256\",\n    \"100\",\n    \"9\"\n]","output":"json","x":370,"y":640,"wires":[["d4b49c22.32685"]]},{"id":"45738f07.16416","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":640,"wires":[]},{"id":"b91c19b1.b66b18","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"price","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":510,"y":800,"wires":[["32dd80a1.226e4"]]},{"id":"adb0daa2.d85a48","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":800,"wires":[["b3ee1b9e.dbf388"]]},{"id":"d1190f8b.9a74b","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array of objects payload using simple JSONata expression","info":"","x":330,"y":740,"wires":[]},{"id":"b3ee1b9e.dbf388","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"name\": \"orange\", \n        \"price\": 80\n    },\n    {\n        \"name\": \"banana\",\n        \"price\": 250\n    },\n    {\n        \"name\": \"apple\",\n        \"price\": 100\n    },\n    {\n        \"name\": \"pear\",\n        \"price\": 150\n    },\n    {\n        \"name\": \"kiwi\",\n        \"price\": 320\n    }\n]","output":"json","x":370,"y":800,"wires":[["b91c19b1.b66b18"]]},{"id":"32dd80a1.226e4","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":800,"wires":[]},{"id":"735ec14e.4ed55","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"descending","as_num":false,"target":"payload","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":510,"y":320,"wires":[["e8dc4ae5.f08598"]]},{"id":"c8ce4e74.9db68","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["ea0384a6.1346b8"]]},{"id":"70333397.d78f6c","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array payload as string in descending order","info":"","x":280,"y":260,"wires":[]},{"id":"ea0384a6.1346b8","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    \"orange\",\n    \"banana\",\n    \"apple\",\n    \"pear\",\n    \"kiwi\"\n]","output":"json","x":370,"y":320,"wires":[["735ec14e.4ed55"]]},{"id":"e8dc4ae5.f08598","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":320,"wires":[]},{"id":"e4025b79.fccdd8","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort using object property as sorting key","info":"","x":620,"y":840,"wires":[]},{"id":"2eaa93da.543cac","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort payload as array of number","info":"","x":600,"y":680,"wires":[]},{"id":"24da49c5.785676","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort payload as array of string","info":"","x":590,"y":520,"wires":[]},{"id":"dc856174.29eb5","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort payload as array of string in descending order","info":"","x":650,"y":360,"wires":[]},{"id":"4bab755b.a073dc","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort payload as array of string in ascending order","info":"","x":650,"y":200,"wires":[]},{"id":"e947beb9.2ec5e","type":"sort","z":"9f9f8c22.7e6b2","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"$substring(\"0000\" & $string(price), -4) & name","msgKeyType":"jsonata","seqKey":"payload","seqKeyType":"msg","x":510,"y":960,"wires":[["6a4af14a.cafc4"]]},{"id":"d19d7ff5.135f2","type":"inject","z":"9f9f8c22.7e6b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":960,"wires":[["5eb37a3e.3c2184"]]},{"id":"91e34f52.e1413","type":"comment","z":"9f9f8c22.7e6b2","name":"Sort array of objects payload using complex JSONata expression","info":"","x":330,"y":900,"wires":[]},{"id":"5eb37a3e.3c2184","type":"template","z":"9f9f8c22.7e6b2","name":"data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"[\n    {\n        \"name\": \"orange\", \n        \"price\": 100\n    },\n    {\n        \"name\": \"banana\",\n        \"price\": 200\n    },\n    {\n        \"name\": \"apple\",\n        \"price\": 100\n    },\n    {\n        \"name\": \"pear\",\n        \"price\": 200\n    },\n    {\n        \"name\": \"kiwi\",\n        \"price\": 200\n    }\n]","output":"json","x":370,"y":960,"wires":[["e947beb9.2ec5e"]]},{"id":"6a4af14a.cafc4","type":"debug","z":"9f9f8c22.7e6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":960,"wires":[]},{"id":"1b068260.e3200e","type":"comment","z":"9f9f8c22.7e6b2","name":"↑ sort using object two property (price and name) as sorting keys","info":"","x":690,"y":1000,"wires":[]},{"id":"7ced03b9.75dd8c","type":"comment","z":"9f9f8c22.7e6b2","name":"Example: Sort Array Payload","info":"Sort node can be used to message payload that points to a JavaScript array.  It can specify sort order and sort key.  Sort key can be payload value or JSONata expression.  If JSONata expression is used, the expression is applied to `payload` value.\n","x":180,"y":40,"wires":[]}]