packages/node_modules/@node-red/nodes/examples/common/complete/1 catch completion of node execution.json
[{"id":"9df3290f.c6d2e8","type":"inject","z":"238b1aa0.fa96f6","name":"","topic":"","payload":"Hello, World!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":140,"wires":[["96f1096b.2f82a8"]]},{"id":"96f1096b.2f82a8","type":"debug","z":"238b1aa0.fa96f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":140,"wires":[]},{"id":"23811105.474c6e","type":"complete","z":"238b1aa0.fa96f6","name":"","scope":["96f1096b.2f82a8"],"uncaught":false,"x":390,"y":180,"wires":[["f06a3fc9.6bab7"]]},{"id":"f06a3fc9.6bab7","type":"debug","z":"238b1aa0.fa96f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":180,"wires":[]},{"id":"34d5ef47.79e72","type":"comment","z":"238b1aa0.fa96f6","name":"Example: Complete Node","info":"Complete node can catch completion of specified nodes.  It receives input of target node.","x":150,"y":40,"wires":[]},{"id":"6ed443a1.a0c3cc","type":"comment","z":"238b1aa0.fa96f6","name":"Catch completion of a node","info":"","x":200,"y":100,"wires":[]},{"id":"70b28e37.84edd","type":"comment","z":"238b1aa0.fa96f6","name":"Catch completion of 1st debug node","info":"","x":460,"y":220,"wires":[]}]